---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$link-color: mix(#F00, $info-color, 20%);
$paragraph-indent: true;
$indent-var: 1.3em;
